.get_price{
  background-color: #fdd826;
  border: none;
  border-radius: 1rem;
  padding: 15px 0 10px;
  -webkit-box-shadow: 0 0 15px 4px rgba(253, 216, 38, .6);
  -moz-box-shadow: 0 0 15px 4px rgba(253, 216, 38, .6);
  box-shadow: 0 0 15px 4px rgba(253, 216, 38, .6);
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Gilroy',sans-serif;
  &:hover{
    -webkit-box-shadow: 0 0 15px 4px rgba(253, 216, 38, 1);
    -moz-box-shadow: 0 0 15px 4px rgba(253, 216, 38, 1);
    box-shadow: 0 0 15px 4px rgba(253, 216, 38, 1);
    transition: all ease-in-out 350ms;
  }
}