.social_block{
  display: flex;
  place-items: center;
  gap: 0.7rem;
  font-family: 'Gilroy',sans-serif;
  &__logo{
    width: 60px;
    height: 60px;
    display: block;
    cursor: pointer;
    background: url("../assets/images/logo_vk.webp");
    background-size: contain;
  }
  &__link_item{
    display: block;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
  }
}