header{
  background-color: black;
  .container{
    background-image: url('../assets/images/header_bg.gif');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    background-position: -2vw top;
    z-index: 2;
    padding-bottom: 100px;
    font-family: "Boozy",sans-serif;
    @media screen and (max-width: 1200px){
      background-position: 20px top;
    }
    @media screen and (max-width: 768px){
      background-image: none;
    }
  }
  .header_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      place-items: center;
    }
    .info_text{
      font-size:clamp(1.3rem,2.5vw,2rem);
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
