@forward "../components/product";


.product_list {
  padding-top: 9.375rem;
  > .container{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    column-gap: 4.188rem;
    row-gap: 10rem;
    align-items: start;
    justify-content: center;
    @media screen and (max-width: 1200px) and(min-width: 769px){
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 768px){
      grid-template-columns: .7fr;
      column-gap: 0;
      row-gap: 12rem;
      place-content: center;
    }
    @media screen and (max-width: 350px) {
      grid-template-columns: 1fr;
      padding: 0 10px;
    }
  }
}