@forward "../components/product";


.product_list {
  padding-top: 9.375rem;
  > .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4.188rem;
    row-gap: 8rem;
  }
}