.color_yellow {
  color: #fdd826;;
}

.color_for_choko {
  color: #aa6141;
}

.color_for_peanuts {
  color: #ffb62a;
}

.color_for_milk_straw {
  color: #a72976;
}

.color_for_wine_straw {
  color: #ae3b5b;
}

.color_for_rice {
  color: #ff8400;
}

.color_for_wood {
  color: #2e5da4;
}

.color_for_box {
  color: #e42b20;
}

.color_for_gift_card {
  color: #ef5b95;
}

.color_for_mini_gift {
  color: #cb750d;
}

.color_for_gift_tea {
  color: #71cc69;
}

.color_for_coffee {
  color: #723814;
}

.color_for_spice {
  color: #f26161;
}