.milk {
  a {
    color: #a72976;
  }
}

.peanuts {
  a {
    color: #ffb62a;
  }
}

.wine {
  a {
    color: #ae3b5b;
  }
}

.rice {
  a {
    color: #ff8400;
  }
}

.wood {
  a {
    color: #2e5da4;
  }
}

.box {
  a {
    color: #e42b20;
  }
}

.gift_card {
  a {
    color: #ef5b95;
  }
}

.mini_gift {
  a {
    color: #cb750d;
  }
}

.gift_tea {
  a {
    color: #71cc69;
  }
}

.coffee {
  a {
    color: #723814;
  }
}

.spice {
  a {
    color: #f26161;
  }
}

.new_year{
  a{
    color: #80a545;
  }
}