.milk{
  a {
    color: #a72976;
  }
}
.peanuts{
  a{
    color: #ffb62a;
  }
}
.wine{
  a{
    color: #ae3b5b;
  }
}
.rice{
  a{
    color: #ff8400;
  }
}
.wood{
  a{
    color: #2e5da4;
  }
}
.box{
  a{
    color: #e42b20;
  }
}